In [30]:
for i in range(0, 4):
    num =1
    for j in range(0, i+1):
        print(num, end=" ")
        num = num + 1
    print()

1
1 2
1 2 3
1 2 3 4

In [5]:
n = 1
for i in range(0, 4):
    for j in range(0, i+1):
        print(n, end=" ")
        n = n + 1
    print()

1
2 3
4 5 6
7 8 9 10

In [17]:
value = 65
for i in range(0,4):
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
        value = value + 1
    print()

A
B C
D E F
G H I J

In [35]:
for i in range(5):
    for j in range(1,5-i):
        print(" ",end="")
    for k in range(0,i+1):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

In [36]:
for i in range(5):
    for j in range(i):
        print(" ",end="")
    for j in range(5,i,-1):
        print("*",end="")
    print()

*****
 ****
  ***
   **
    *

In [40]:
n=4
for i in range(n):
    for j in range(i+1):
        print(chr(j+65),end="")
    print()

A
AB
ABC
ABCD

In [44]:
n=1
for  i in range(0,5):
    for j in range(0,i+1):
        print(n,end=" ")
        n+=1
    print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [45]:
for i in range(5):
    for j in range(1,5-1):
        print(" ",end="")
    for k in range (0,i-1):
        print("*",end="")
    print()

   *
   **
   ***

In [50]:
print("enter the character pattern:")
asscivalue=65
for i in range(0,6):
    for j in range(0,i+1):
        alphabate=chr(asscivalue)
        print(alphabate,end=" ")
        asscivalue += 1
    print()

enter the character pattern:
A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [2]:
My_list = [1, 2, 'a', 'b', 3, 4, 'c', 'd']
int_list=[]
str_list=[]
for item in My_list:
    if type(item)==int:
        int_list.append(item)
    else:
        str_list.append(item)
print("int_list=",int_list)
print("str_list=",str_list)

int_list= [1, 2, 3, 4]
str_list= ['a', 'b', 'c', 'd']

In [3]:
str_list.append(item)
print("int_list",int_list)
print("int_list",str_list)

int_list [1, 2, 3, 4]
int_list ['a', 'b', 'c', 'd', 'd']

In [8]:
My_list=['abc','gytf','hikj','huygy','oity']
for item in My_list:
    if len(item)>3:
        print(item)

gytf
hikj
huygy
oity

In [10]:
My_list = [1,2,'a','b',3,4,'c',7,'d']
for item in My_list:
    if type (item)==int:
        print(item*2)

2
4
6
8
14